@using TravelWebSite.Models.Classes
@model List<Urunler>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}




<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">

            @foreach (var x in Model)
            {
                <!-- Start Column 1 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/Shop/addsepet/@x.urunID">
                        <img src="@x.urunGorselUrl" class="img-fluid product-thumbnail">
                        <h3 class="product-title">@x.urunName</h3>
                        <strong class="product-price">@x.fiyat<span>₺</span></strong>

                        <span class="icon-cross">
                            <img src="~/web/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
            }

        </div>
    </div>
</div>
